.toggle-container {
  display: flex;

  width: 78px;
  cursor: pointer;
  position: relative;
}
.toggle-icon {
  width: auto;
  height: 25.79px;
  position: absolute;
  top: 5px;
  right: 0;
}

.dark-text {
  font-weight: bold;
  position: absolute;
  top: 11px;
  left: -10px;
  font-size: 13px;
  line-height: 19px;
  line-height: 100%;
  letter-spacing: 2.5px;
  align-self: center;
  padding-bottom: 13px;
  transition: ease-in-out 0.4s;
}
