.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 741.99px;
  padding-top: 107px;
}

/* MEDIA QUERIES TABLET */
@media (max-width: 879px) {
  .App {
    width: 583px;
  }
}

/* MEDIA QUERIES MOBILE */

@media (max-width: 621px) {
  .App {
    width: 327px;
  }
}
