@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Space Mono;
}

body {
  background-color: #f6f8ff;
  width: 100%;

  display: flex;
  justify-content: center;
}
